@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ArcherManager</h1>
    <p>
        Go to <a asp-area="" asp-controller="Club" asp-action="Index">Clubs</a> to see and manage clubs.
    </p>
    <p>
        Go to <a asp-area="" asp-controller="Archer" asp-action="Index">Archers</a> to see and manage archers.
    </p>
    <p>
        Go to <a asp-area="" asp-controller="Competition" asp-action="Index">Competitions</a> to see and manage competitions.
    </p>
</div>
