@model Archer

<section>
    <form asp-action="Create">
        <partial name="_CreateOrEditArcher"/>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}