@model ArcherManager.Web.Models.ArcherFilterModel

<section class="container mt-4">
    <h2 class="mb-4">Archer List</h2>

    <div class="d-flex align-items-end gap-2 mb-3 w-100">
        <form asp-action="Index" id="filterForm" method="post" class="d-flex flex-wrap align-items-end gap-2 w-100">
            <div class="flex-grow-1" style="min-width: 150px;">
                <label class="form-label">Full name</label>
                <input asp-for="FullName" class="form-control" />
            </div>
            <div class="flex-grow-1" style="min-width: 150px;">
                <label class="form-label">Club name</label>
                <input asp-for="ClubName" class="form-control" />
            </div>
            <div style="width: 200px;">
                <label class="form-label">Age class</label>
                <select asp-for="AgeClass" asp-items="ViewBag.AllClasses" class="form-control"></select>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-primary">Filter</button>
            </div>
        </form>
        <div class="flex-grow-1" style="min-width: 200px;">
            <a asp-action="Create" class="btn btn-success">New archer</a>
        </div>
    </div>


    <section id="tableResult">

    </section>
</section>

@section Scripts {
    <script>
        function updateTable() {
            $.ajax({
                url:"@Url.Action("IndexAjax")",
                method: "POST",
                data: $('#filterForm').serialize(),
                success: function (html) {
                    $("#tableResult").html(html);
                }
            });
        }

        $(document).ready(function () {
            $('#filterForm').on('submit', function (e) {
                e.preventDefault();
                updateTable();
            });

            updateTable();
        });
    </script>
}